#exportPattern("^[[:alpha:]]+")

## Prepare media file
export(mm_app)
export(mm_get_metadata) #ok
export(mm_get_hs) #ok
export(mm_create_hs)#ok
export(mm_remove_hs) #ok

## Prepare table
export(mm_read) #ok
export(mm_stack_df) #ok
export(mm_check_location)#ok
export(mm_independence) #ok
export(mm_to_radian)
export(mm_to_time)
export(mm_to_community) #ok
export(mm_standardize)
export(mm_check_name)
export(mm_to_occupancy)
## Analysis
export(mm_plot_density)
export(mm_plot_overlap)#ok
export(mm_plot_overlap_coef)
export(mm_overlap_estimates)
export(mm_bootstrap)
export(mm_resample)
export(mm_boot_estimates)
export(mm_boot_CI)
export(mm_overlap_matrix)
export(mm_temporal_shift)
export(mm_alpha_diversity)
#export(mm_beta_diversity)
export(mm_dissimilarity)
export(mm_spatial_coverage)

## General
export(`%>%`)
export(`%<>%`)


########### Import ##############
# exifr
importFrom(exifr, exiftool_call)
importFrom(exifr, read_exif)


# base
importFrom("stats", "setNames")
importFrom("utils", "write.csv")
importFrom("methods", "hasArg")
importFrom("stats", "cov")
importFrom("utils", "read.table")

# dplyr
importFrom(dplyr, as_tibble)
importFrom(dplyr, arrange)
importFrom(dplyr, mutate)
importFrom(dplyr, tibble)
importFrom(dplyr, rename)
importFrom(dplyr, bind_rows)

#tidyr
importFrom(tidyr, pivot_wider)

# magrittr
importFrom(magrittr, '%>%')
importFrom(magrittr, '%<>%')

# ggplot
importFrom(ggplot2, ggplot)
importFrom(ggplot2, aes)
importFrom(ggplot2, geom_polygon)
importFrom(ggplot2, geom_point)
importFrom(ggplot2, geom_text)
importFrom(ggplot2, labs)
importFrom(ggplot2, theme_minimal)
importFrom(ggplot2, theme)
importFrom(ggplot2, element_line)
importFrom(ggplot2, element_blank)
importFrom(ggplot2, element_text)
importFrom(ggplot2, geom_line)
importFrom(ggplot2, geom_rug)
importFrom(ggplot2, annotate)
importFrom(ggplot2, scale_x_continuous)
importFrom(ggplot2, scale_size_continuous)
importFrom(ggplot2, scale_color_gradientn)
importFrom(ggplot2, guides)
importFrom(ggplot2, guide_colorbar)


#shiny
importFrom(shiny, shinyOptions)
importFrom(shiny, shinyApp)
importFrom(shiny, modalDialog)
importFrom(shiny, tagList)
importFrom(shiny, actionButton)
importFrom(shiny, icon)
importFrom(shiny, modalButton)
importFrom(shiny, fluidRow)
importFrom(shiny, column)
importFrom(shiny, checkboxInput)
importFrom(shiny, selectInput)
importFrom(shiny, verbatimTextOutput)
importFrom(shiny, showModal)
importFrom(shiny, reactive)
importFrom(shiny, eventReactive)
importFrom(shiny, renderText)
importFrom(shiny, req)
importFrom(shiny, strong)
importFrom(shiny, h2)
importFrom(shiny, shinyOptions)
importFrom(shiny, shinyOptions)
importFrom(shiny, shinyOptions)
importFrom(shiny, shinyOptions)
importFrom(shiny, br)
importFrom(shiny, hr)
importFrom(shiny, conditionalPanel)
importFrom(shiny, numericInput)
importFrom(shiny, renderPrint)
importFrom(shiny, renderPlot)
importFrom(shiny, tabsetPanel)
importFrom(shiny, tabPanel)
importFrom(shiny, plotOutput)
importFrom(shiny, observe)
importFrom(shiny, updateNumericInput)
importFrom(shiny, reactiveValues)
importFrom(shiny, eventReactive)
importFrom(shiny, updateSelectInput )
importFrom(shiny, updateTextInput)
importFrom(shiny, observe)

#ds4Dash
importFrom("bs4Dash", "dashboardHeader")
importFrom("bs4Dash", "dashboardBody")
importFrom("bs4Dash", "dashboardPage")
importFrom("bs4Dash", "dashboardSidebar")

#leaflet
importFrom("leaflet", "leafletOutput")
importFrom("leaflet", "renderLeaflet")

#shinyFIles
importFrom("shinyFiles", "getVolumes")
importFrom("shinyFiles", "parseDirPath")
importFrom("shinyFiles", "parseFilePaths")
importFrom("shinyFiles", "parseSavePath")
importFrom("shinyFiles", "shinyDirButton")
importFrom("shinyFiles", "shinyDirChoose")
importFrom("shinyFiles", "shinyDirLink")
importFrom("shinyFiles", "shinyFileChoose")
importFrom("shinyFiles", "shinyFileSave")
importFrom("shinyFiles", "shinyFilesButton")
importFrom("shinyFiles", "shinySaveButton")

#shinyTree
importFrom("shinyTree", "renderTree")
importFrom("shinyTree", "shinyTree")

#overlap
importFrom(overlap, bootCI)
importFrom(overlap, bootCIlogit)
importFrom(overlap, bootEst)
importFrom(overlap, bootstrap)
importFrom(overlap, densityFit)
importFrom(overlap, densityPlot)
importFrom(overlap, getBandWidth)
importFrom(overlap, overlapEst)
importFrom(overlap, overlapPlot)
importFrom(overlap, overlapTrue)
importFrom(overlap, resample)
importFrom(overlap, sunTime)
importFrom(overlap, sunTime)

# sf
importFrom(sf, st_as_sf)
importFrom(sf, st_transform)
importFrom(sf, st_coordinates)

# terra
importFrom(terra, rast)
importFrom(terra, vect)
importFrom(terra, values)
importFrom(terra, as.polygons)
importFrom(terra, extend)
importFrom(terra, rasterize)
importFrom(terra, global)
importFrom(terra, mean)
